<style >
	#map{
		height: 500px;
	}
	#floating-panel{
		position: absolute;
		top: 10px;
		left: 25%;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;
		text-align: center;
		font-family: 'Roboto','sans-serif';
		line-height: 30px;
		padding-left: 10px;
	}
	#floating-panel{
		margin-left: -52px;
	}
	.wrap {
        width: 100%;
        display: inline-block;
        margin-top: 10px;
    }
</style>
<!--Inicia Jsgrouping
<script src="cache/include/javascript/newGrouping.js"></script>
-->
<!---->
<div class="row-fluid" style="display:flex; flex-direction: row; align-items:flex-start;" id="inputs">
	<div class="span3">
		<input type="text" name="nombre" id="nombre" placeholder="Nombre" style="width: 95%;margin: 4px;display: inline-block;">
	</div>
	<div class="span3">
		<input type="text" name="Tipo" id="tipo" placeholder="Tipo" style="width: 95%;margin: 4px;display: inline-block;">
	<!--
		<select class="Tipo">
			{{each tipo_List}}
				<option value="{{@key}}">{{this}}</option>
			{{/each}}
		</select>
	-->
	</div>
	<div class="span3">
		<input type="text" name="telefono" id="telefono" placeholder="Telefono" style="width: 95%;margin: 4px;display: inline-block;">
	</div>
	<div class="span3">
		<button class="btn btn-primary" id="buscarCuentas" class="buscarCuentas" style="width: 50%;margin: 4px;display: inline-block;">Buscar</button>
	</div>
	<br>
</div>
<!--
<div id="floating-panel">
	<button id="drop" onclick="initMap();">Drop Markers</button>
</div>-->
<!--
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY1b6UHcFWw5mfs_vies9F7VpyAJh3xS8&libraries=places">
</script>-->
<div id="map"></div>
<script>
</script>
<br>
<div class="list-view">
	<table>
		<thead>
            <tr bgcolor="#0679c8" style="color:#fff" height="25px">
             	<th width="25%" style="">Cuenta</th>
                <th width="25%">Tipo</th>
                <th width="25%">Telefono</th>
                <th width="23%">Latitud</th>
                <th width="20%">Longitud</th>
            </tr>
        </thead>
        <tbody>
          {{#each cuentas.records}}
            <tr>
                <td class="nombre">
                	<a href="#Accounts/{{id}}" target="_blank">{{name}}</a>
                </td>
                <td class="tipo">
                  {{tipo_registro_c}}<!--Como lo regresa el JSON-->
                </td>
                <td class="telefono">
            		{{phone_office}}
                </td>
                <td class="Latitud">
                	{{latitud_c}}
                </td>
                <td class="Latitud">
                	{{longitud_c}}
                </td>
            </tr>
          {{/each}}
        </tbody>
	</table>
</div>		