{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <style>
       #wrapper { position: relative; }
       #over_map{ 
        position: absolute; 
        top: 18px; 
        /*left: 10px;*/ 
        z-index: 99;
        right: 120px;
        /*justify-content: center;*/
        }
        #Ruta{
            top: 20px; 
        }
    </style>
<body>
<div class="search-filter">
    <div class="control-group">
        <div class="filter controls controls-two btn-group-fit{{#if meta.refresh_button}} has-refresh{{/if}}">
            {{component this 'filter'}}
            <div class="toggle-actions actions">
                {{#if meta.refresh_button}}
                    <div class="btn-group refresh" data-action="refreshList">
                        <button class="btn" rel="tooltip" title="{{str 'LBL_LIST_REFRESH' module}}" aria-label="{{str 'LBL_LIST_REFRESH' module}}"><i class="fa fa-refresh"></i></button>
                    </div>
                {{/if}}
                <div class="btn-group" data-toggle="buttons-radio">
                    {{#each toggles}}
                        <button type="button" class="btn{{#if disabled}} disabled{{/if}}" {{#if disabled}}disabled{{/if}} data-view="{{toggle}}" data-mode="view" rel="tooltip" title="{{str title}}" aria-label="{{str title}}" track="click:{{toggle}}" aria-pressed="false"><i class="fa {{class}}"></i></button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="filter-options extend hide">
        {{component this 'filter-rows'}}
        {{component this 'filter-actions'}}
    </div>
</div>
<!--<div id="floating-panel">
    <button type="button" class="btn btn-light" id="inicio">Light</button>
    <button type="button" class="btn btn-light" id="fin">Light</button>
    </div>-->
<div id="wrapper">
    <div id="map"></div>
    <div id="over_map">
        <button type="button" class="btn btn-primary" id="plan">Ruta Planeada</button>
        <select id="select">
            <option value="1">Fecha de inicio de reunión</option>
            <option value="2">Ubicación actual</option>
            <option value="3">Ubicación de oficina</option>
        </select>
        <button type="button" class="btn btn-primary historial" id="historial">Obtener Historial de Visitas</button>
    </div>
</div>
<div class="main-content"></div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpgKtiodM-mnWhHcIJrhS9CADCsdFssEQ&libraries=places" >
</script>
</body>
</html>

